html {
    --darkBlue: #00243d;
    --lightBlue: #00AEFF;
}

.site-header-primary a#header-logo {
    display: block !important;
    float: none !important;
    width: 110px !important;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: 10px;
}

.site-header-primary a#header-logo img {
    max-width: 100% !important;
}

.site-header .cols-row:before,
.site-header .cols-row:after {
    display: none !important;
}

.site-header .cols-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px !important;
}

.site-header .back {
    display: flex;
    align-items: center;
}

.site-header .back .icon {
    margin-right: 6px;
}

.site-header .back span {
    font-size: 12px;
    line-height: 1.2;
}

/* Sticky nav */

.sticky-nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    background: var(--darkBlue);
    font-size: 13px;
    padding: 0 24px;
    display: none;
}

.sticky-nav a,
.sticky-nav a:visited,
.sticky-nav a:hover {
    color: #fff !important;
    opacity: 0.75;
}

.sticky-nav a.active {
	font-weight: 500;
    opacity: 1;
}

/* Flip title with gallery */

.site-content {
	position: relative;
}

.site-content .page-header {
	position: absolute;
    height: 76px;
    background: var(--darkBlue);
    flex-direction: row-reverse;
    /* Shift under gallery */
    top: 200px;
    z-index: 50;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
}

.site-content .rating-new {
	height: 76px;
    width: 76px;
    background: var(--lightBlue);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
}

.site-content .rating-new strong {
    display: block;
	font-weight: 700;
    font-size: 24px;
}

.site-content .rating-new span {
    font-size: 15px;
    display: block;
}

.site-content .page-header #license-plate {
	flex: 1;
    padding-left: 12px;
    line-height: 1;
}

.site-content .page-header #license-plate .star-rating-wrapper {
    display: block;
    margin: 0;
    font-size: 13px;
    margin-bottom: 2px !important;
}

.site-content .page-header #license-plate #hotel-name {
    color: #fff;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin: 0;
    margin-bottom: 6px;
}

.site-content .page-header #license-plate .address {
    margin: 0 !Important;
}

.site-content .page-header #license-plate .address a {
    color: var(--lightBlue);
    font-size: 11px;
    margin: 0;
}

.site-content .photos-and-reviews {
    margin-bottom: 76px;
}

.site-content .photos-and-reviews .jumbo-hero {
    height: 200px;
    padding-bottom: 0;
}

.site-content .photos-and-reviews .jumbo-hero .hero {
    margin: 0;
    width: 100%;
    object-fit: cover;
}

.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(2) {left: 100%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(3) {left: 200%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(4) {left: 300%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(5) {left: 400%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(6) {left: 500%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(7) {left: 600%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(8) {left: 700%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(9) {left: 800%; }
.site-content .photos-and-reviews .jumbo-hero .hero:nth-child(10) {left: 900%; }

.site-content .photos-and-reviews figcaption {
    display: none;
}

.site-content .photos-and-reviews #toggle-banner {
	display: none;
}

/* Rooms and rates */

#rooms-and-rates {
	border: 0;
    float: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    border-radius: 0;
}

#rooms-and-rates #availability-header {
    display: none;
}

#rooms-and-rates .search-form {
	margin: 0 !Important;
}

#rooms-and-rates .show-room-options {
    display: none;
}

/* Rating bars */

.ratings-new {
	padding: 12px;
}

.ratings-new__title {
	font-style: italic;
    font-size: 17px;
    font-weight: 400;
}

.ratings-new__row {
    display: flex;	
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

.ratings-new__label {
	font-size: 13px;
    display: block;
    margin-bottom: 3px;
    color: var(--darkBlue);
}

.ratings-new__bar {
    height: 6px;
    width: 100%;
    background: var(--darkBlue);
    position: relative;
    overflow: hidden;
}

.ratings-new__bar:after {
    display: block;
    content: '';
	position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    transform: translateX(70%);
    background: var(--lightBlue);
}

/* Date picker */

.date-pickers-container {
    display: flex;
}

#availability-wizard .datepicker {
	flex: 1;
    float: none;
}

@keyframes showCalendar {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#availability-wizard .datepicker-dropdown {
    opacity: 0;
    position: fixed !important;
    width: 100%;
    height: 310px;
    padding: 0;
    right: auto !important;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    left: 0 !important;
    bottom: 133px !important;
    width: 100vw;
    background: #ffffff;
    transform: translate3d(0,0,0);
    animation: showCalendar 0.35s ease forwards;
    z-index: 100;
    margin: 0;
}

#availability-wizard .datepicker-dropdown .datepicker-cal {
    padding-top: 32px;
}

#availability-wizard .datepicker-dropdown .datepicker-cal .btn-paging.btn-secondary {
    top: 43px;
}

#availability-wizard .datepicker-dropdown .datepicker-close {
    top: 0;
    height: 32px;
    line-height: 32px;
}

#availability-wizard .datepicker-arrow:after {
	display: none !important;
}

.exp11120-1 #availability-wizard #availability-check-in-label,
.exp11120-1 #availability-wizard #availability-check-out-label {
    width: auto;
}
